.container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 50px auto;
}

.content-container {
  flex: 1;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-image {
  width: 50px; /* Adjust the width of the image container as needed */
  height: 50px; /* Adjust the height of the image container as needed */
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.movie-image img {
  width: 100%; /* Ensure the image fills the container */
  height: 100%; /* Ensure the image fills the container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 8px;
}

h2 {
  color: #333;
}

p {
  margin: 10px 0;
  color: #666;
}

h3 {
  margin-top: 20px;
  color: #555;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  color: #777;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
