/** Reset CSS */
body, html {
  margin: 0;
  overflow: auto;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: rgb(250, 240, 230);
  --primary-text-color: #ecfccb;
}

body {
  background-color: var(--background-color);
  /* Use a relative or absolute URL for the image */
  /* background-image: url('C:\Users\chepu\Downloads\pexels-pixabay-235985.jpg');  */
  background-image: url('https://www.freeppt.net/background/Movie-Film-Strip-design-backgrounds-powerpoint.jpg');  
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Make sure the background covers the entire viewport */
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
