

.movie-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.movie-title {
  color: #b05e5e;
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 8px;
}

.movie-description {
  color: #555;
  margin-top: 20px;
}

.details {
  margin-top: 20px;
}

.detail-item {
  margin-bottom: 10px;
}

.book-now-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ffc8;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: bold;
}

/* Theater.css */
.theater-selection-container {
  max-width: 800px;
  margin: 20px auto;
}

h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.theater-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

.theater-item h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.theater-item p {
  color:rgb(30, 4, 4);
  margin: 0;
}

.loading-container {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.error-container {
  font-size: 20px;
  font-weight: bold;
  color: red;
  text-align: center;
  margin-top: 50px;
}
